/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


/* common style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1321px;
    height: 646px;
    background-color: #161616;
    border-radius: 30px;
}

.top-content{
    width: 560px;
    padding-left: 30px;
}

.top-content h1{
color: white;
font-size: 70px;
line-height: 80px;
}

.top-content p{
color: white;
font-size: 16px;
line-height: 30px;
}

.btn{
    font-size: 18px;
    color: white;
    background-color: #DD0000;
    border: none;
    padding: 16px 35px;
    border-radius: 5px;
    cursor: pointer;
}


.top-banner-img{
    padding-top: 38px;
    padding-right: 30px;
    width: 581px;
    height: 613px;
}



.footer-section{
    background-color: #161616;
    height: 440px;
}
.footer-section h1{
    font-size: 41px;
    color: white;
    text-align: center;
}